<div style="overflow: auto;height:600px;">
    <h2>
        {{dateToday}}
    </h2>
    <table style="table-layout:fixed" width="400">
        <tr>
            <th>Projects</th>
            <th>Resources</th>
        </tr>
        <tr *ngFor="let project of projectList;index as i">
            <td>
                {{project.name}}
            </td>
            <td>
                <!-- {{project.number_resources}} -->
            </td>
        </tr>
        <tr>
            <th>
                Total
            </th>
            <td>
                {{total}}
            </td>
        </tr>
    </table>
</div>
