<div style="display: flex;
align-items: flex-start;">
    <div style="margin-right: 10%;">
        <h1>Project/Resource Dashboard</h1>
        <div style="margin-bottom:10%;">
            <app-dashboard></app-dashboard>
        </div>
        <app-project-manager></app-project-manager>
    </div>
    <app-project-list></app-project-list>
    <div style="margin-left: 10%;"> 
        <h1>Requirement</h1>
        <app-requirements></app-requirements>
        <div style="margin-top: 10%;">
            <app-availability></app-availability>
        </div>
    </div>
</div>