<!-- <div style="display: flex;
align-items: flex-start;">
    <div style="margin-right: 10%;">
        <h1>Project/Resource Dashboard</h1>
        <div style="margin-bottom:10%;">
            <app-dashboard></app-dashboard>
        </div>
        <app-project-manager></app-project-manager>
    </div>
    <app-project-list></app-project-list>
    <div style="margin-left: 10%;"> 
        <h1>Requirement</h1>
        <app-requirements></app-requirements>
        <div style="margin-top: 10%;">
            <app-availability></app-availability>
        </div>
    </div>
</div> -->

<mat-tab-group color="black" backgroundColor="accent" >
    <mat-tab label="Dashboard">
        <ng-template matTabContent>
            <div style="display: flex;align-items: flex-start;">
            <app-dashboard></app-dashboard>
            <app-availability></app-availability>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Project Manager"> 
        <ng-template matTabContent>
            <app-project-manager></app-project-manager>    
        </ng-template>
    </mat-tab>
    <mat-tab label="Project List"> 
        <ng-template matTabContent>
            <app-project-list></app-project-list> 
        </ng-template>       
    </mat-tab>
    <mat-tab label="Requirements">
        <ng-template matTabContent>
            <app-requirements></app-requirements>    
        </ng-template>
    </mat-tab>
    <mat-tab label="Project-Project Manager" *ngIf="admin==true">
        <ng-template matTabContent>
            <app-project-project-manager></app-project-project-manager>
        </ng-template>
    </mat-tab>
</mat-tab-group>
