<div class="table-availability-container">
    <table>
        <tr>
            <th>Available</th>
        </tr>
        <tr *ngFor="let a of available">
            <td>
                {{a.name}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>On Leave</th>
        </tr>
        <tr *ngFor="let o of onLeave">
            <td>
                {{o.name}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Not Yet In</th>
        </tr>
        <tr *ngFor="let n of notYetIn">
            <td>
                {{n.name}}
            </td>
        </tr>
    </table>

</div>