<!-- <mat-tab-group>
    <mat-tab label="Dashboard">
        <app-dashboard></app-dashboard>
    </mat-tab>
    <mat-tab label="Project Manager"> 
        <app-project-manager></app-project-manager>    
    </mat-tab>
    <mat-tab label="Project List"> 
        <app-project-list></app-project-list>    
    </mat-tab>
    <mat-tab label="Requirements">
        <app-requirements></app-requirements>    
    </mat-tab>
    <mat-tab label="Availability">
        <app-availability></app-availability>
    </mat-tab>
</mat-tab-group> -->


<!-- <h1>Project/Resource Dashboard</h1>
<div style="display: flex;
align-items: flex-start;">
    <div style="margin-right: 10%;">
        <app-dashboard></app-dashboard>
        <app-project-manager></app-project-manager>
    </div>
    <app-project-list></app-project-list>
    <div style="margin-left: 10%;"> 
        <h1>Requirement</h1>
        <app-requirements></app-requirements>
        <div style="margin-top: 10%;">
            <app-availability></app-availability>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>