<button type="button" class="btn btn-primary" [disabled]="admin==true"
(click)="openPopupRequirements(0)">Add
</button>
<table>
    <tr>
        <th>Project</th>
        <th>Resources</th>
        <th>Number of Hours</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let requirement of requirements;index as i">
        <td>
            {{requirement.project}}
        </td>
        <td>
            {{requirement.resource}}
        </td>
        <td>
            {{requirement.hours}}
        </td>
        <td>
            <button type="button" class="btn btn-success" [disabled]="admin==true"
                (click)="openPopupRequirements(requirement.id)">Edit
            </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" [disabled]="admin==true"
              (click)="openPopupDelete(requirement.id)">Delete
          </button>
      </td>
    </tr>
</table>




<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <button type="button" class="btn" 
        (click)="closePopup()">
        <img src="assets/images/cancel.svg" alt="arrow" height="30px" width="30px"/>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <labeL>Project</labeL>
            <select [(ngModel)]="requirement.project">
              <option *ngFor="let project of projects" [value]="project">{{project}}</option>
            </select>
        </div>
        <div>
          <label>Resource</label>
            <select [(ngModel)]="requirement.resource">
              <option *ngFor="let resource of resources" [value]="resource">{{resource}}</option>
            </select>
        </div>
        <div>
            <label>Hours</label>
            <input type="text" [(ngModel)]="requirement.hours">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" *ngIf="requirement.id!='0'; else other" 
        (click)="saveRequirements(requirement.id)">
          Save
        </button>
        <ng-template #other>        
          <button type="button" class="btn btn-success"
          (click)="saveRequirements(0)">
          Save
          </button>
        </ng-template>


      </div>
    </div>
  </div>
</div>


<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="btn" 
        (click)="closePopup()">
        <img src="assets/images/cancel.svg" alt="arrow" height="30px" width="30px"/>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
        (click)="deleteData()">
        Delete
        </button>
 
      </div>
    </div>
  </div>
</div>