<div >  
  <h2>
    {{dateToday}}
  </h2>
  <button type="button" class="btn btn-primary" [disabled]="admin==false"
  (click)="openPopupDashboard()">Add
  </button>
  <table style="table-layout:fixed" width="600">
      <tr>
          <th>Names</th>
          <th>Project</th>
          <th>Assignee</th>
          <th>Delete</th>
      </tr>
      <tr *ngFor="let db of dashboards;index as i">
          <td>
              {{db.name}}
          </td>
          <td>
              <select [(ngModel)]="db.projectAssigned" #selectedOption class="dropdown"
              (change)='onChange(db.resource_id,db.name,selectedOption.value)'>
                <option *ngFor="let project of projects" [value]="project.project_id">{{project.name}}</option>
              </select>
          </td>
          <td>
              {{db.projectManager}}
          </td>
          <td>
            <button type="button" class="btn btn-danger" [disabled]="admin==false"
              (click)="openPopupDelete(db.resource_id)">Delete
            </button>
          </td>
      </tr>
  </table>




  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':'block'}" *ngIf="render_dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add</h4>
          <button type="button" class="btn" 
                  (click)="closePopup()">
                  <img src="assets/images/cancel.svg" alt="arrow" height="30px" width="30px"/>
          </button>


        </div>
        <div class="modal-body">
          <table class="table-popup">
            <tr>
              <td style="border:none;">
                <label>Name</label>
              </td>
              <td style="border:none;">
                <input type="text" [(ngModel)]="dashboard.name" class="text-box">
              </td>
            </tr>
            <tr>
              <td style="border:none;">
                <label>Project</label>
              </td>
              <td style="border:none;">
                <select [(ngModel)]="dashboard.projectAssigned" class="dropdown">
                    <option *ngFor="let project of projectsPopup" [value]="project.project_id">{{project.name}}</option>
                </select>
              </td>
            </tr>
          </table>

        <div class="modal-footer">
          
          <button type="button" class="btn btn-success"
          (click)="saveData()">
          Save
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':'block'}" *ngIf="render_dialog1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="btn"
          (click)="closePopup()">
          <img src="assets/images/cancel.svg" alt="arrow" height="30px" width="30px"/>
  </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
          (click)="deleteData()">
          Delete
          </button>

        </div>
      </div>
    </div>
  </div>
</div>